/ {
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";

        input-gpios
			= <&gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>				= <&gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
			;
    };
};