#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------ //
// | RT | //
// | LT | //
// ------ //

            bindings = <
    &kp RARW
    &kp LARW
            >;
        };
    };
};